<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h3>LINKS</h3>
  <li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
  <li><a href="{{ site.baseurl }}/volunteer">Volunteer</a></li>
  <li><a href="{{ site.baseurl }}/images/2016_Parent_Rider_Handbook.pdf">Handbook</a></li>
  <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:DrakeMTBDirector@gmail.com?Subject=DrakeMTB%20Question" target="_top">Other Questions?</a></li>
  <!--<li><a href="{{ site.baseurl }}/riders">Contact Us</a></li>-->
  <h4>Follow Us</h4>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-btn-floating w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="http://spiritofhowdy.org" target="_blank"> The Spirit of Howdy!</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
    <a class="w3-btn w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>
