<!--<header>-->
    <header class="w3-container w3-padding-medium">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="openNav()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

            <a class="w3-hide-small" href="{{ site.baseurl }}/" class="w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>

            <div class="w3-dropdown-hover w3-hide-small">
                <a href="{{ site.baseurl }}/about" class="w3-bar-item w3-button"><button class="w3-button" title="Notifications">Team</button></a>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="{{ site.baseurl }}/about" class="w3-bar-item w3-button">About Us</a>
                    <a href="{{ site.baseurl }}/sponsors" class="w3-bar-item w3-button">Sponsors</a>
                    <a href="{{ site.baseurl }}/coaches" class="w3-bar-item w3-button">Coaches</a>
                    <a href="{{ site.baseurl }}/jim_miller" class="w3-bar-item w3-button">Jim Miller Fund</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small">
                <a href="{{ site.baseurl }}/riders" class="w3-bar-item w3-button"><button class="w3-button" title="Notifications">Riders</button></a>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="{{ site.baseurl }}/riders/#pelo" class="w3-bar-item w3-button">Pelo</a>
                    <a href="{{ site.baseurl }}/captains" class="w3-bar-item w3-button">Captains</a>
                    <a href="{{ site.baseurl }}/practices" class="w3-bar-item w3-button">Practices</a>
                    <a href="{{ site.baseurl }}/nutrition" class="w3-bar-item w3-button">Nutrition</a>
                    <a href="{{ site.baseurl }}/rules" class="w3-bar-item w3-button">Ride Rules</a>
                    <a href="{{ site.baseurl }}/riders" class="w3-bar-item w3-button">Rider Guide</a>
                    <a href="{{ site.baseurl }}/eligibility" class="w3-bar-item w3-button">Eligibility</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small">
                <a href="{{ site.baseurl }}/parents" class="w3-bar-item w3-button"><button class="w3-button" title="Notifications">Parents</button></a>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="{{ site.baseurl }}/volunteer" class="w3-bar-item w3-button">Volunteering</a>
                    <a href="{{ site.baseurl }}/meetings" class="w3-bar-item w3-button">Parent Meetings</a>
                    <a href="{{ site.baseurl }}/expenses" class="w3-bar-item w3-button">Expenses</a>
                    <a href="{{ site.baseurl }}/fundraisers" class="w3-bar-item w3-button">Fundraisers</a>
                    <a href="{{ site.baseurl }}/schwag" class="w3-bar-item w3-button">MTB Gear</a>
                    <a href="{{ site.baseurl }}/parents/#mandatory" class="w3-bar-item w3-button">Mandatory Forms</a>
                    <a href="{{ site.baseurl }}/racesupport" class="w3-bar-item w3-button">Cheering</a>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small">
                <a href="{{ site.baseurl }}/races" class="w3-bar-item w3-button"><button class="w3-button" title="Notifications">Races</button></a>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="{{ site.baseurl }}/races" class="w3-bar-item w3-button">Races and Travel</a>
                    <a href="{{ site.baseurl }}/races/#hotel" class="w3-bar-item w3-button" target="_blank">Hotel Info</a>
                    <a href="{{ site.baseurl }}/raceday" class="w3-bar-item w3-button">Race Day Overview</a>
                    <a href="{{ site.baseurl }}/pdf/web/viewer.html?file=/images/race_kit.pdf" class="w3-bar-item w3-button" target="_blank">Race Packing List</a>
                    <a href="{{ site.baseurl }}/racesupport" class="w3-bar-item w3-button">Cheering</a>
                    <a href="{{ site.baseurl }}/philosophy" class="w3-bar-item w3-button">Racing Philosophy</a>
                </div>
            </div>

            <a class="w3-hide-small" href="{{ site.baseurl }}/girls" class="w3-hover-white">50% by 2025</a>

            <a class="w3-hide-small" href="{{ site.baseurl }}/media" class="w3-hover-white">Photos and Media</a>

            <div class="w3-dropdown-hover w3-hide-small">
                <a href="{{ site.baseurl }}/contacts" class="w3-bar-item w3-button"><button class="w3-button" title="Notifications">Contact</button></a>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="{{ site.baseurl }}/contacts" class="w3-bar-item w3-button">Emails</a>
                    <a href="{{ site.baseurl }}/emergency" class="w3-bar-item w3-button">Emergency Phone Numbers</a>
                </div>
            </div>

            <a class="w3-hide-small" href="{{ site.baseurl }}/faq" class="w3-hover-white">FAQ</a>
            
            <a class="w3-hide-small" href="{{ site.baseurl }}/sitemap">Site Map</a>

            <a class="w3-hide-small" href="{{ site.baseurl }}/register"><font color="red">Register for the Team!</font></a>
        </div>
        
        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:53px;">
            <ul class="w3-navbar w3-left-align w3-large w3-theme" style="margin-right:20px;">
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfr1b_zRs9-RcddblDJgKoztdKDQhaCR3uv4kBOs-WarxbQmQ/viewform">Sign up!</a></li>
                <li class="w3-dropdown-hover">
                    <a href="#">Team</a>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="{{ site.baseurl }}/about" class="w3-bar-item w3-button">About Us</a>
                        <a href="{{ site.baseurl }}/sponsors" class="w3-bar-item w3-button">Sponsors</a>
                        <a href="{{ site.baseurl }}/coaches" class="w3-bar-item w3-button">Coaches</a>
                        <a href="{{ site.baseurl }}/jim_miller" class="w3-bar-item w3-button">Jim Miller Fund</a>
                    </div>
                </li>
                <li class="w3-dropdown-hover">
                    <a href="#">Riders</a>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="{{ site.baseurl }}/riders/#pelo" class="w3-bar-item w3-button">Pelo</a>
                        <a href="{{ site.baseurl }}/captains" class="w3-bar-item w3-button">Captains</a>
                        <a href="{{ site.baseurl }}/practices" class="w3-bar-item w3-button">Practices</a>
                        <a href="{{ site.baseurl }}/nutrition" class="w3-bar-item w3-button">Nutrition</a>
                        <a href="{{ site.baseurl }}/rules" class="w3-bar-item w3-button">Ride Rules</a>
                        <a href="{{ site.baseurl }}/riders" class="w3-bar-item w3-button">Rider Guide</a>
                        <a href="{{ site.baseurl }}/eligibility" class="w3-bar-item w3-button">Eligibility</a>
                    </div>
                </li>
                <li class="w3-dropdown-hover">
                    <a href="#">Parents</a>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="{{ site.baseurl }}/parents" class="w3-bar-item w3-button">Parent Info</a>
                        <a href="{{ site.baseurl }}/volunteer" class="w3-bar-item w3-button">Volunteering</a>
                        <a href="{{ site.baseurl }}/meetings" class="w3-bar-item w3-button">Parent Meetings</a>
                        <a href="{{ site.baseurl }}/expenses" class="w3-bar-item w3-button">Expenses</a>
                        <a href="{{ site.baseurl }}/fundraisers" class="w3-bar-item w3-button">Fundraisers</a>
                        <a href="{{ site.baseurl }}/schwag" class="w3-bar-item w3-button">MTB Gear</a>
                        <a href="{{ site.baseurl }}/parents/#mandatory" class="w3-bar-item w3-button">Mandatory Forms</a>
                        <a href="{{ site.baseurl }}/racesupport" class="w3-bar-item w3-button">Cheering</a>
                    </div>
                </li>
                <li class="w3-dropdown-hover">
                    <a href="#">Races</a>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="{{ site.baseurl }}/races" class="w3-bar-item w3-button">Races and Travel</a>
                        <a href="{{ site.baseurl }}/races/#hotel" class="w3-bar-item w3-button" target="_blank">Hotel Info</a>
                        <a href="{{ site.baseurl }}/raceday" class="w3-bar-item w3-button">Race Day Overview</a>
                        <a href="{{ site.baseurl }}/pdf/web/viewer.html?file=/images/race_kit.pdf" class="w3-bar-item w3-button" target="_blank">Race Packing List</a>
                        <a href="{{ site.baseurl }}/racesupport" class="w3-bar-item w3-button">Cheering</a>
                        <a href="{{ site.baseurl }}/philosophy" class="w3-bar-item w3-button">Racing Philosophy</a>
                    </div>
                </li>
                <li><a href="{{ site.baseurl }}/girls">50% by 2025</a></li>
                <li><a href="{{ site.baseurl }}/media">Photos and Media</a></li>
                <li class="w3-dropdown-hover">
                    <a href="#">Contact</a>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="{{ site.baseurl }}/contacts" class="w3-bar-item w3-button">Emails</a>
                        <a href="{{ site.baseurl }}/emergency" class="w3-bar-item w3-button">Emergency Phone Numbers</a>
                    </div>
                </li>
                <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
                <li><a href="{{ site.baseurl }}/sitemap">Site Map</a></li>
            </ul>
        </div>

    </header>
    <!-- Script for the side navagation -->
    <script>
        function w3_open() {
            var x = document.getElementById("mySidenav");
            x.style.width = "300px";
            x.style.textAlign = "center";
            x.style.fontSize = "40px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
        }
        function w3_close() {
            document.getElementById("mySidenav").style.display = "none";
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
